.radio {
    height: 10px;
    width: 10px;

    cursor: pointer;
    border-radius: 50%;
}


.radio::before {
    border: 2px solid #cc99ff;
}


.radio:checked::before {
    background: #55ffff;
    background-color: darkblue;
}
.radio:focus {
    border: 2px solid #00cc22;
}

.label {
    cursor: pointer;
}

.options {
}
