.button {
    border-radius: 50%;
}

.disabled {
    background-color: gray;
}

.secondary {
    background-color: blue;
}

.default {
    border-radius: 10px;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
